
.ui.form .grid {
    div.task-form-label {
        text-align: right;
        padding: 20px 0;
    }
    
    button.task-form-calendar-icon {
        vertical-align: -12px;
        margin-left: -52px;
    }
}

.ui.basic .grid {
    div.attachment-title {
        text-align: right;
        padding: 20px 0;
    }

    .attachment-title {
        width: 70%;
    }

    div.attachment-bar {
        display: inline-block;
        width: 100px;
        height: 12px;
        border: 1px solid #ccc;
        vertical-align: middle;
        padding: 1px;
    }

    span.attachment-progress {
        display: inline-block;
        height: 100%;
        background-color: #f36532;
    }
}
